@media only screen and (min-width: 64em ) {
    .mtn_header h1 {
        font-size: 5.5vw;
    }
   .mtn_header img.mtnlogo {
   width:15em;
}
    .mtn_header img.headermtn {
    width:15em;
} 
    .mtn_header {
        justify-content: space-between;
    }
    .eventtitle{
        font-size:60px;
    }
}
