@media only screen and (min-width: 37.5em ) {
    .mtn_header h1 {
      font-size: 6vw;
    }
    #bicyclemenu {
        display:flex;
        flex:row wrap;
        justify-content: space-around;
        list-style-type: none;
        color:#e47521;
        background-color: #242f0e;
        font-size: 25px;
        padding-top: 0px;
        margin-top: 0px;
        text-decoration: none;
        text-align: center;
    }
    
   .mtn_header img.mtnlogo {
    width:9em;
}
    .mtn_header img.headermtn {
    width:9em;
}
    table {
        margin: 1em auto;
    }
   
}